<!DOCTYPE html>
<html>

<head>
	<style>
		.topnav {
			overflow: hidden;
			background-color: #333;
		}
		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		.topnav a.active {
			background-color: #04AA6D;
			color: white;
		}
	</style>

</head>

<body style="background-color: #E3E3E3">

<div class="topnav">
	<a class="active" href="/">Home</a>
	<a href="/login">Login</a>


</div>
	<p> You must be registered to use app features. <br>
		<a href="/teacherRegister">Teacher Registration</a> <br>
        <a href="/studentRegister">Student Registration</a> <br>
        <a href="/donorRegister">Donor Registration</a> <br>
        </br>or <a href="/login">Login</a> </p>

</body>

</html>
